header {
    background-color: white;
    height: 80px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav {
    display: inline-block;
    float:right;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 100px;
}

nav a {
    color: #707070;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

#front-pic {
    margin-top: 60px;
    width: 900px;
    height: 550px;
}

.content {
    width: 900px;
    margin: auto;
}

#logo {
    font-size:50px;
    color:#707070;
    text-decoration: none;
    line-height: 100px;
}


/*For About Us page*/
.title {
  margin-top: 40px;
}

h1 {
  font-size: 30px;
  color: #707070;
  text-decoration: underline;
}

#body {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
}

.text {
  line-height: 30px;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0.8px;
  width: 440px;
  float: left;
}

.picture {
  float: right;
  margin-right: 10px;
}

#make {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}



/*for menu**/
#menu {
  padding-top: 80px;
  width: 900px;
}




/*for contact*/
.bodycontent{
  display: inline-block;
  margin-left: 30%;
}
#contact {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
}

#info {
    color: #707070;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 2px;
}

#map {
    color: #707070;
    display: flex;
    flex-direction: column;
}

#mapimg {
    width: 300px;
}
